@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: Raleway;
  
}


body {
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    overflow: auto;
}



header {
    background-image: url("../images/banner.png"), linear-gradient(black, #1473b750, black);
    text-align: center;
    height: 500px;
    padding-top: 50px;
    background-position: 100%;
    
    
}

h1 {
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-image: linear-gradient(#1472B7, 0.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 900;
}

button {
    background-color: hsl(0, 0%, 0%, 0);
    width: 326px;
    height: 57px;
    border:  5px solid #31A8DD;
    color: #31A8DD;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}


h2 {
  color: #31A8DD;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 100px;
}

main {
   text-align: center;
   
   
}


span {
    color: #31A8DD;
}

#course-content{
    text-align: center;
    margin: 5px;
}


.modules-list{
    width: 792px;
    height: 325px;
    margin: 15px auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.modules{
    
    width: 535px;
    height: 37px;
    background-color: #252525;
    border: 2px solid #31A8DD;
    border-radius: 57px;
    margin:  10px;
    text-align: center;
    padding-top: 15px;
}

.container-woman-code {
    background-image: url("../images/woman-code.png");
    background-attachment: fixed;
    height: 274px;
    background-size: cover;
    text-align: left;
    font-size: 40px;
    font-weight: 900;
    padding: 122px;
    
    
}

#text-container-woman{
    text-shadow: 3px 3px #31A8DD;
}


.container-professional-challenges{
    margin: auto;
}

img {
    margin: 10px;
}

footer {
    text-align: center;
    margin-top: 60px;
    background-image: linear-gradient(black, #1473b72d);
    height: 120px;
    
}

a {
    color: #31A8DD;
    text-decoration:none;
}

p {
    margin: 2px;
}








